:root{
    --main-text: white;
    --bg-color: #4d0099;
     --name_title: white;
   }
   
   strong {
     color: black;
   }
   
   html {
     font-size: 12px;
   }
   body {
     background-color: var(--bg-color);
   }
   * {
     font-family: 'Text Me One', sans-serif;
   }
   .navbar {
     padding: 0;
   }
   .navbar-light .navbar-toggler {
     border: 1px solid var(--main-text);
     background-color: rgba(34, 49, 63, 0.5);
   }
   .navbar-collapse {
   background-color: rgba(34, 49, 63, 0.5);
     padding: 20px;
   }
   .navbar-toggler-right {
     top: 1rem;
   }
   .navbar-light .navbar-toggler .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   }
   .nav-link {
     font-size: 2rem;
     font-weight: bold;
   }
   .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
     color: var(--main-text);
   }
   .navbar-light .navbar-nav .nav-link:focus {
     color: var(--main-text);
   }
   .navbar-light .navbar-nav .nav-link > .label {
     padding: 2px 6px;
     border-radius: 5px;
   }
   .navbar-light .navbar-nav .nav-link:hover > .label {
     background-color: #b3b3ff;
     color: #22313F;
   }
   .navbar-light .navbar-nav .nav-link {
     color: var(--main-text);
   }
   
   /*-------------------------*/
   
   .header {
     position: relative;
     border-bottom: 10px solid var(--main-text);
   }
   .header-content {
     position: absolute;
     top: 50%;
     left: 50%;
   
     transform: translate(-50%, -50%);
     text-align: center;
     width: 100%;
   }
   #particles-js {
     height: 100%;
     height: calc(100vh - 10px);
   }
   
   .name {
     color: var(--name_title);
     font-size: 5rem;
   }
   .title {
     color: var(--name_title);
     font-size: 3rem;
   }
   #profile-img {
     border: 5px solid var(--main-text);
   }
   .section {
     color: #bfcad1;
   }
   .section .section-heading {
     color: var(--main-text);
     padding-top: 20px;
     font-size: 3rem;
     font-weight: bold;
   }
   .section .section-content {
     padding: 5vmax;
   }
   .section .section-footer {
     padding-bottom: 20px;
   }
   .section .subsection-title {
     color: var(--main-text);
   }

      /* Text animation style */

      .header-content .row .col-12 .title span::before {
        content: "MERN"; 
        animation: textanimate infinite 5s; 
        padding-left: 10px; 
        color: black;
        font-weight: bold;
       }
    
    
       @keyframes textanimate { 
          0% { 
              content: "MERN"; 
          } 
    
          50% { 
              content: "Software"; 
          } 
    
          75% { 
              content: "Backend"; 
          } 
        } 
   

  /* Skills section */

  .progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 10px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}
.progress:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}
.progress.orange:before{ border: 7px solid #FF4C60; }
/* .progress.blue:before{ border: 7px solid #89cff0; }
.progress.green:before{ border: 7px solid #53aa2c; }
.progress.purple:before{ border: 7px solid #66406f; } */
.progress.orange .progress-value{
    border: 5px solid #FF4C60;
    color: #FF4C60;
}
/* .progress.blue .progress-value{
    border: 5px solid #89cff0;
    color: #89cff0;
}
.progress.green .progress-value{
    border: 5px solid #53aa2c;
    color: #53aa2c;
}
.progress.purple .progress-value{
    border: 5px solid #66406f;
    color: #66406f;
} */
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

  /* Timeline styles */
 #timeline-content {
   text-align: center;
   margin-top: -40px;
  }
 .timeline {
	 border-left: 4px solid #004ffc;
	 border-bottom-right-radius: 4px;
	 border-top-right-radius: 4px;
	 background: rgba(255,255,255,0.03);
	 color: rgba(255,255,255,0.8);
	 font-family: 'Chivo', sans-serif;
	 margin: 50px auto;
	 letter-spacing: 0.5px;
	 position: relative;
	 line-height: 1.4em;
	 font-size: 1.03em;
	 padding: 50px;
	 list-style: none;
	 text-align: left;
	 font-weight: 100;
  }
 .timeline h2, .timeline h3 {
	 font-family: 'Saira', sans-serif;
	 letter-spacing: 1.5px;
	 font-weight: 200;
	 font-size: 1em;
  }
 .timeline .event {
	 border-bottom: 1px dashed rgba(255,255,255,0.1);
	 padding-bottom: 25px;
   margin-bottom: 50px;
	 position: relative;
  }
 .timeline .event:last-of-type {
	 padding-bottom: 0;
	 margin-bottom: 0;
	 border: none;
  }
 .timeline .event:before, .timeline .event:after {
	 position: absolute;
	 display: block;
	 top: 0;
  }
 .timeline .event:before {
	 left: -300.5px;
	 color: rgba(255,255,255,0.4);
	 content: attr(data-date);
	 text-align: right;
	 font-weight: 100;
	 font-size: 0.9em;
	 min-width: 120px;
	 font-family: 'Saira', sans-serif;
  }
 .timeline .event:after {
	 box-shadow: 0 0 0 4px #004ffc;
	 left: -57.85px;
	 background: #313534;
	 border-radius: 50%;
	 height: 11px;
	 width: 11px;
	 content: "";
	 top: 5px;
  }
 
   
   /*----------------*/
   
   #about .section-content {
     font-size: 1.75rem;
   }
   hr {
     border: 1px solid var(--main-text);
     margin: 1rem 30% 1rem 30%;
   }
   span.tag {
     padding: 2px 5px 2px 5px;
     margin-right: 5px;
     margin-bottom: 5px;
     font-size: 1rem;
     border: 1px solid lightgray;
     display: inline-block;
   }
   .project {
     position: relative;
     border-bottom: 10px solid #525e64;
     box-shadow: 0px 0px 16px 0px #525e64;
     margin-bottom: 15px;
     height: 16vmax;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     
     transition: transform 500ms ease-in-out;
   }
   .project .overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     opacity: 0;
     background-color: rgba(34, 49, 63, 0.8);
     transition: opacity 500ms ease-in-out; 
   }

   @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .project .overlay {opacity: 1;}
  }
   
   .project:hover {
     transform: scale(1.1);
     z-index: 1;
   }
   .project:hover .overlay {
     opacity: 1;
   }
   
   .project .description {
     font-size: 1.3rem;
     color: #bfcad1;
     position: absolute;
     width: 100%;
     top: 50%;
     transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     text-align: center;
     
   }
   
   .project .description .description__subtitle{
     margin-bottom: 8px;
   }
   
   a {
     color: #bfcad1;
   }
   a:hover {
     color: var(--main-text);
     text-decoration: none;
   }
   a:focus {
     color: var(--main-text);
     text-decoration: none;
   }
   a:active {
     color: var(--main-text);
     text-decoration: none;
   }
   
   .img-responsive {
     width: 100%;
     height: auto;
   }
   .img-vresponsive {
     width: 30%;
     width: 35vmin;
     height: auto;
   }
   
   .mb-20 {
     margin-bottom: 20px;
   }
   .mt-20 {
     margin-top: 20px;
   }
   .mb-5 {
     margin-bottom: 5px;
   }
   
   .footer {
     background-color: var(--main-text);
     color: #22313F;
     text-align: center;
     font-weight: 600;
     font-size: 1.1rem;
   }

   .footer p {
    display: inline;
   }
   
   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
     html {
       font-size: 7px;
     }
   }

.col-md-6 svg {
  width: 136px;
  margin-right: 10px;
  margin-bottom: 15px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .col-md-6 svg {
    width: 60px;
  }
}